<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    html{
        font-size:100px;
    }
    .container{
        font-size:50px;
    }
    .absolute{
        font-size:20px;
    }
    .relativeem{
        font-size: 0.8em;
    }
    .relativerem{
        font-size:1rem;
    }
</style>
<body>
    <div class="container">
        <p class="absolute">This is the absolute P</p>
        <p class="relativeem">This is relativeem P</p>
        <p class="relativerem">This is relativerem P</p>
        <p>This is container size</p>
    </div>
</body>

</html>