<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table</title>
</head>
<style>
    
</style>
<body>
    <button onclick="getGeoLocation()">Click me</button>
    <br>
    <div id="location"></div>
</body>
<script>
    function getGeoLocation(){
        alert("getting user location")

        if(navigator.geolocation){
            navigator.geolocation.getCurrentPosition(showPosition,showError)
        }
        else{
            document.getElementById("location").innerHTML="Location is not supported by the browser"
        }
    }
    function showPosition(position){
        document.getElementById("location").innerHTML="Altitude"+position.coords.altitude+"<br>"+"longitude"+position.coords.longitude
    }
    function showError(error){
        document.getElementById("location").innerHTML="Error: "+error
    }
</script>
</html>