<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>My site</title>
        <meta name="description" content="This is all about practice and dedication">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
        .arg{
            
            display: block;
            padding-top: 200px;
            
        }
        </style>
    
    </head>
    <body>
        
        <img src='1.jpg' alt='enrique image' width='400px' heigh='900px' loading='lazy'/>
        <img src='2.jpg' alt='enrique image' width='400px' heigh='900px' loading='lazy'/>
        <img src='3.jpg' alt='enrique image' width='400px' heigh='900px' loading='lazy'/>
        <img src='4.jpg' alt='enrique image' width='400px' heigh='900px' loading='lazy'/>
        
    </body>
</html>